{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ assessment_template }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Assessment</h1>
        <p>{{ assessment_template }}</p>
    </div>
</div>
<div class="container">
    {% for category in assessment_template.categories.all %}
        <div class="card">
        <div class="card-header bg-primary text-white">{{ category }}</div>
        <div class="card-body">
            {% for question in category.question_set.all %}
                <div class="form-check-inline row">
                    <div class="col-3">
                        <label class="control-label">{{ question }}</label>
                    </div>
                    {% for answer in question.answer_set.all %}
                        <div class="col-3">
                            <input class="form-check-input" type="radio" name="{{ question.id }}"
                                   value="{{ answer.id }}" id="{{ answer.id }}" required>
                            <label for="{{ answer.id }}" class="form-check-label" role="button">{{ answer }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
</body>
</html>